* {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope";
  --bg-color: #ff6600;
  --btn-color: #ffffff;
  --h1-color: #2b2b2b;
  --caption-color: #5b5b5b;
}

.section-padding {
  padding: 0 2rem;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}
